@page "/"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@attribute [Authorize]

<PageTitle>Domov</PageTitle>

<h1>Vitajte v ProCleaning Systéme</h1>

<p>Ste úspešne prihlásený.</p>

<AuthorizeView>
    <Authorized>
        <p>Prihlásený používateľ: <strong>@context.User.Identity?.Name</strong></p>
        <p>Rola: <strong>@context.User.Claims.FirstOrDefault(c => c.Type == System.Security.Claims.ClaimTypes.Role)?.Value</strong></p>
    </Authorized>
</AuthorizeView>
